.q {
  color: #ccc;
  font-size: 6rem;
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: .1rem
}

.quote-text {
  font-family: Georgia, serif;
    font-style: italic;
    letter-spacing: .1rem;
    font-size: 1.5rem;
  line-height: 63px;
}

.quote-author {
  display: block;
  text-align: right;
  // font-family: Verdana, Arial, sans-serif;
  margin-top: 1rem;
  font-size: .9rem;
  color: color(typography, 2);
  font-style: normal;
}

// .quote {
//   margin-top: 120px;
// }

.quote-flex {
  max-width: 900px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.quote {
  margin-top: 120px;

    @include media( '>medium' ) {
    position: relative;

    svg {
      position: relative; /* To display the canvas above the illustration */
      width: 100%;
      height: auto;
    }

    &::before {
      content: '';
      position: absolute;
      width: 320px;
      height: 230px;
      bottom: -76px;
      right: -82px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU3IiBoZWlnaHQ9IjI3OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxkZWZzPiAgICA8bGluZWFyR3JhZGllbnQgeDE9IjguNjg1JSIgeTE9IjIzLjczMyUiIHgyPSI5OS40MzUlIiB5Mj0iODUuMDc4JSIgaWQ9ImEiPiAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiMxRDMwNEIiIG9mZnNldD0iMCUiLz4gICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjMUQzMDRCIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMTAwJSIvPiAgICA8L2xpbmVhckdyYWRpZW50PiAgPC9kZWZzPiAgPHBhdGggZD0iTTE4MzAuMTcxIDEwMTcuNjRjMTYwLjA4NiAwIDcwMi41MjctMjI4LjI2IDI4OS44NjItMjkwLTQxMi42NjYtNjEuNzM3LTEyOS43NzYtMjkwLTI4OS44NjItMjkwcy0yODkuODYxIDEyOS44MzgtMjg5Ljg2MSAyOTBjMCAxNjAuMTYzIDEyOS43NzUgMjkwIDI4OS44NjEgMjkweiIgdHJhbnNmb3JtPSJzY2FsZSgtMSAxKSByb3RhdGUoLTYgLTU4NTQuMTU0IDIyMTE0Ljg1NykiIGZpbGw9InVybCgjYSkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
      background-repeat: no-repeat;
      background-size: 320px 230px;
    }
  }
}
