// contenu first section
.section1 {
  position:relative;
  padding-top: 200px;
  padding-bottom: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// contenu text section
.section1-content {
  position:relative;
  color: #2C4468;
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  h1 {
    font-weight: 400;
  }
  p {
    margin-top: 1.5em;
    color: #546583;
  }
  p.text-section1 {
    max-width: 500px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
  }
  a {
    // color: rgba(0,0,0,0.4);
    font-weight: 500;
    font-size: 16px;
    text-decoration:none;
  }

  // skills ul list
.skills-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 30px;
    gap: 0 30px;
    list-style: none;
}

.skills-list li:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(/images/checkmark.svg);
    background-repeat: no-repeat;
    margin-right: 5px;
    // vertical-align: 1px;
  }
}


// contenu colonne gauche
.skills {
  position:relative;
}

.img-circle {
  // position:absolute;

  // width: 160px;
  // height: 160px;
  // box-shadow: 27.1px 62.5px 125px -25px rgba(50,50,93,.5), 16.2px 37.5px 75px -37.5px rgba(0,0,0,.6);
}

.skill-icons {
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: top;
}

.skill-icon-container {
    align-items: center;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: floating;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    background-color: color(bg,3);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 10px 40px 0 rgba(23,28,33,.3), 0 31px 13px 0 rgba(23,28,33,.07);
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: margin 1s cubic-bezier(.2,.6,.3,1),opacity 2s ease;
}

.skill-icon-container {
  animation-duration: 4s;
    height: 100px;
    margin-left: 76px;
    margin-top: -25px;
    position: absolute;
    width: 100px;
}

@keyframes floating {
  0% {
     transform: translateY(8px) rotate3d(0,0,1,3deg);
  }

100% {
    transform: translateY(-8px) rotate3d(0,0,1,0deg);
  }
}

.home-connect {
    animation-delay: -3.4s;
    animation-duration: 4s;
    height: 80px;
    width: 80px;
    margin-left: 395px;
    margin-top: 110px;
    position: absolute;
    transition-delay: .3s;
}

.honeywell {
    animation-delay: -2.4s;
    animation-duration: 4s;
    background-size: 100px;
    height: 60px;
    width: 60px;
    margin-left: 803px;
    margin-top: 0px;
    position: absolute;
    transition-delay: .4s;
}

.skill-icon-container .skill-icon.image {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.philipshue {
    animation-delay: -.3s;
    animation-duration: 4s;
    height: 90px;
    width: 90px;
    margin-left: 682px;
    margin-top: 100px;
    position: absolute;
    transition-delay: .5s;
}

.materialize {
    animation-delay: -3.9s;
    animation-duration: 4s;
    height: 60px;
    width: 60px;
    margin-left: 590px;
    margin-top: 190px;
    position: absolute;
    transition-delay: .8s;
}

.ihome {
    animation-delay: -3.9s;
    animation-duration: 4s;
    height: 60px;
    width: 60px;
    margin-left: 620px;
    margin-top: -130px;
    position: absolute;
    transition-delay: .8s;
}

.irobot {
    animation-delay: -.9s;
    animation-duration: 4s;
    height: 80px;
    width: 80px;
    margin-left: 730px;
    margin-top: 230px;
    position: absolute;
    transition-delay: .7s;
}

.nest {
    animation-delay: -2.9s;
    animation-duration: 4s;
    height: 80px;
    width: 80px;
    margin-left: 475px;
    margin-top: -150px;
    position: absolute;
    transition-delay: .6s;
}

.ifttt-logo {
    animation-delay: -1.9s;
    animation-duration: 2s;
    height: 160px;
    width: 160px;
    margin-left: 500px;
    // margin-top: 139px;
    position: absolute;
    transition-delay: .2s;
}

.sonos {
    animation-duration: 4s;
    height: 90px;
    width: 90px;
    margin-left: 330px;
    margin-top: -20px;
    position: absolute;
}


.kasa {
    animation-delay: -1.8s;
    animation-duration: 4s;
    height: 80px;
    width: 80px;
    margin-left: 736px;
    margin-top: -120px;
    position: absolute;
    transition-delay: .1s;
}

.microsoft-flow {
    animation-delay: -1.8s;
    animation-duration: 4s;
    height: 60px;
    width: 60px;
    margin-left: 360px;
    margin-top: 241px;
    position: absolute;
    transition-delay: .1s;
}

.myq {
    animation-delay: -2.9s;
    animation-duration: 4s;
    height: 80px;
    width: 80px;
    margin-left: 475px;
    margin-top: 245px;
    position: absolute;
    transition-delay: .6s;
}

.netatmo {
    animation-delay: -2.9s;
    animation-duration: 4s;
    height: 70px;
    width: 70px;
    margin-left: 175px;
    margin-top: 9px;
    position: absolute;
    transition-delay: .6s;
}

.nuki {
    animation-delay: -2.9s;
    animation-duration: 4s;
    height: 80px;
    width: 80px;
    margin-left: 850px;
    margin-top: 123px;
    position: absolute;
    transition-delay: .6s;
}

.ring {
    // animation-delay: -2.9s;
    animation-duration: 4s;
    height: 80px;
    width: 80px;
    margin-left: 261px;
    margin-top: 166px;
    position: absolute;
    transition-delay: .6s;
}

.lifx {
  animation-duration: 4s;
  animation-delay: -1.2s;
  transition-delay: .1s;
    height: 100px;
    margin-left: 1031px;
    margin-top: 200px;
    position: absolute;
    width: 75px;
    height: 75px;
}

.zapier {
  animation-duration: 4s;
  animation-delay: -2.2s;
  transition-delay: .4s;
    height: 100px;
    margin-left: 212px;
    margin-top: 102px;
    position: absolute;
    width: 120px;
    height: 120px;
}

.slack {
  animation-duration: 4s;
    height: 100px;
    margin-left: 101px;
    margin-top: -113px;
    position: absolute;
    width: 85px;
    height: 85px;
}

.smartlife {
  animation-duration: 3s;
    height: 100px;
    margin-left: 39px;
    margin-top: 81px;
    position: absolute;
    width: 90px;
    height: 90px;
}

.smartthings-samsung {
  animation-duration: 5s;
  animation-delay: -1.2s;
  transition-delay: .1s;
    height: 100px;
    margin-left: 0px;
    margin-top: -132px;
    position: absolute;
    width: 60px;
    height: 60px;
}

.spotify {
  animation-duration: 4s;
    height: 100px;
    margin-left: 1005px;
    margin-top: -150px;
    position: absolute;
    width: 95px;
    height: 95px;
}

.tado {
  animation-duration: 4s;
    height: 100px;
    margin-left: 1000px;
    margin-top: 100px;
    position: absolute;
    width: 60px;
    height: 60px;
}

.telldus {
  animation-duration: 3.5s;
  animation-delay: -2.5s;
  transition-delay: .3s;
    height: 100px;
    margin-left: 589px;
    margin-top: 165px;
    position: absolute;
    width: 55px;
    height: 55px;
}

.tuya {
  animation-duration: 2.9s;
    height: 100px;
    margin-left: 912px;
    margin-top: 250px;
    position: absolute;
    width: 75px;
    height: 75px;
}

.wemo {
  animation-duration: 2s;
  animation-delay: -2.9s;
  transition-delay: .2s;
    height: 100px;
    margin-left: 290px;
    margin-top: -143px;
    position: absolute;
    width: 90px;
    height: 90px;
}

.wink {
  animation-duration: 3s;
  animation-delay: -2s;
  transition-delay: .5s;
    height: 100px;
    margin-left: 142px;
    margin-top: 250px;
    position: absolute;
    width: 85px;
    height: 85px;
}

.ecobee {
  animation-duration: 3s;
  animation-delay: -2s;
  transition-delay: .5s;
    height: 100px;
    margin-left: 930px;
    margin-top: -25px;
    position: absolute;
    width: 85px;
    height: 85px;
}



.skill-icon-container:hover {
  background: color(bg,2);
}

